/node_modules
/public/hot
/public/storage
/public/fonts
/public/uploads/
/public/js/app.js
/public/css/style.css
/public/images/vendor
/storage/*.key
/storage/uploads
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
